@font-face {
    font-family: "Voltaire";
    src: url(Polices/Voltaire-Regular.ttf);
}
@font-face {
    font-family: "Pattaya";
    src: url(Polices/Pattaya-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(Polices/Roboto-Regular.ttf);
}
/* Entete */
.entete{
    font-family: "Voltaire",'Courier New', Courier, monospace;
    font-size: 1.25em;
    border: 4px black solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    margin: 2%;
    margin-left: 200px;
    background-color: white;
}
/* Poste */

/* Corps de la page */
body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/fond-froise.jpg);
}
/* photo */
#photo{
    box-shadow: 5px 5px 5px gray;
    border: 2px blue solid;
    border-radius: 10px;
}
/* bande laterale gauche */
nav{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2%;
    width: 190px;
}
/* 4 blocs detaillés */
#articles{
    font-size: 0.9em;
    list-style-type: none;
    margin-left: 190px;
    display: flex;
    flex-wrap: wrap;
}
#articles li{
    flex: 1;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
    margin: 1%;
    border: 4px black solid;
    border-radius: 10px;
    border: 4px black solid;
    min-width: 290px;
    min-height: 100px;
    padding: 1%;
}
/* la citation */
#citation{
    font-family: "Pattaya", 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 5px gray;
    color: white;
    background-image: url(images/FondCitation.jpg);
    width: 165px;
    border: 4px red solid;
    border-radius: 10px;
    padding: 2%;
}
/* anecdote */
#anecdote{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    text-align: justify;
    background: white;
    box-shadow: 5px 5px 5px gray;
    margin-top: 5%;
    width: 165px;
    border: 4px red solid;
    border-radius: 10px;
    padding: 2%;
}
/* taille police email */
#email{
    font-size: 0.85em;
}